* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Tahoma', 'Geneva', sans-serif;
}

@font-face {
    font-family: 'PonyRides';
    src: url('../font/PonyRides.ttf') format('truetype');
}

main {
    background-image:url('../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 5em;
}

h3 {
    font-size: 2em;
}

h1, h3, span {
    text-align: center;
    padding-top: 40px;
    font-family: 'PonyRides';
}

img {
    max-width: 100%;
}

#container_img {
    margin-top: 6%;
    height: 50%;
    /* overflow: hidden; */
    border: solid 3px blue;
    position: relative;
}

#carrousel {
    /* transform: translate(ease 0.5s all); */
    display: flex;
    flex-direction: row;
    /* overflow: hidden; */
    border: solid 3px red;
    width: 90%;
    position: absolute;
    left: 45%;

}

.poney {
    /* display: inline-block; */
    /* width: 20%;
    height: auto;
    overflow: hidden;
    margin: 5%; */
    border: solid 3px black;

    
}

#btn_wrapper {
    /* position: relative; */
    /* overflow: hidden; */
}

.arrow {
    width: 5%;
    height: 20%;
    margin-top: 10%;
    cursor: pointer;
}

#left {
    /* position: absolute; */
}