* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', 'Tahoma', 'Geneva', sans-serif;
}

@font-face {
    font-family: 'PonyRides';
    src: url('../font/PonyRides.ttf') format('truetype');
}

main {
    background-image:url('../img/wallpaper.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2em;
    background: -webkit-linear-gradient(-180deg, red, orange, yellow, lightgreen, green, aqua, blue, violet, red);    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

h1, h3, h2, span {
    text-align: center;
    padding-top: 25px;
    font-family: 'PonyRides';
}

p {
    text-align: center;
    margin: 15px 0 15px 0;
}

img {
    max-width: 300px;
}

#container_img {
    margin-top: 6%;
    height: 50%;
}

#carrousel {
    overflow: hidden;
    margin-left: 40%;
}

#panneau {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    transition: all 0.5s ease;
}

.poney {
    position: relative;
}

.hover {
    background-color: rgba(133, 30, 112, 0.7);
    border-radius: 50px;
    position: absolute;
    top: -305px;
    height: 100%;
    width: 100%;
}

.poney:hover .hover {
    animation: down 1s ease;
    animation-fill-mode: forwards;
}

#btn_wrapper {
    position: relative;
}

.arrow {
    width: 5%;
    cursor: pointer;
}

#left {
    position: absolute;
    bottom: 100px;
    left: 300px;
}

#right {
    position: absolute;
    bottom: 100px;
    right: 200px;
}


/* Jauges dans hover  */

.container {
    height: 20px;
    width: 300px;
    margin: 20px auto;
}

.bar {
    height: 10px;
    width: 200px;
    border-radius: 30px;
    background-color: white;
    display: inline-block;
    margin: 20px 0 0 20px;
}

.valueBar{
    height:100%;
    background: linear-gradient(90deg, red, orange, yellow, lightgreen, green, aqua, blue, violet, red);    
    border-radius: 30px;
}

.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/*********** ANIMATIONS ***********/

@keyframes down {
    from {
        top: -305px
    }
    
    to {
        top: 0px;
    }
}